@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'var';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
@import '../block/header';
@import '../block/nav';
@import '../block/btn';
@import '../block/about';
@import '../block/company';
@import '../block/preloaded';